
  </main>
  <footer>
    <div class="container">
      <p>&copy; <%= new Date().getFullYear() %> Yes, I tried! Recipes. All rights reserved.</p>
      <p>Made with flavor, by Brisa. </p>
    </div>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>
