
<%- include('partials/header') %>

<section class="intro">
  <h2>About Yes, I tried! Recipes</h2>
  <p>About Page</p>
  <p>Hi - I'm Brisa, and this is my recipes site.</p>
   <p>The concept of "Yes, I tried!" came to me after I tried and tweaked multiple recipes throughout my food journey—that started a long, long time ago.</p>
      <p>You see, I've been collecting and trying recipes since I was seven. At that time, there wasn't internet, and we collected recipes in notebooks, journals, and cards. Recipes were cut out of magazines, handed to us on scrap pieces of paper, books, or we will find them on the back of package food. </p>
         <p>In fact, my first collection of recipes came from collecting (and later sending) the cutouts from the sugar packages. We could win four books, and I won them all. </p>
            <p>The first recipe I remember making came from a Disney children's book, and from that moment on, I was hooked on the culinary world.</p>
               <p>But there's always been a problem: recipes didn't always turn out as I expected. At first, I blamed myself as an inexperienced cook and baker. As I walked my culinary path, however, I realized that, yes, many times, I was the one to blame. </p>
                 <p>Other times, however, the failure came from faulty or made-up recipes, with inaccurate measurements, be they on temperature, quantities, or time. A few other contributors to such a fiasco could be explained by science (and culinary IS science): ambiance humidity, the difference in oven specs, and even the utensils and cookware utilized. </p>
                   <p>Finally, personal taste played its part, too: people have different tastes regarding spices, sweet and sour tolerance, etc. And some people, frankly, don't know what good food tastes like ;)</p>
                  <p>So, what should I do? I decided to try recipes and always take them with a grain of salt (pun!), use my better judgment, and improve them using my knowledge and personal taste. </p>
                     <p>On this site, you'll find recipes that were not initially created by me but tested, corrected, and improved with time. I hope you enjoy and embark on this journey with me. 
                        <p>Aloha,</p>

                           <p>Brisa</p>
</section>

<%- include('partials/footer') %>
